*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(236, 232, 232, 0.61);
}
.container{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.slide img{
    width: 60vw;
    height: 60vh;
    margin-top: 130px;
    margin-left: 260px;
    position: absolute;
    border: 1px solid;
}
.slide-number{
    position: absolute;
    top: 22vh;
    left: 40vh;
    color: white;
}
.arrow{
    position: absolute;
    top: 48vh;
    left: 40vh;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    padding: 8px 10px;
    background-color: rgba(236, 232, 232, 0.438);
    color: black;   
}
.arrow:hover{
    background-color: rgba(236, 232, 232, 0.781);
}
.right{
    position: absolute;
    left: 154.5vh;
}
.slide{
    display: none;
}
.btn{
    position: absolute;
    height: 12px;
    width: 12px;
    top: 75vh;
    left: 94vh;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
}
.btn_2{
    position: absolute;
    left: 97vh;
}
.btn_3{
    position: absolute;
    left: 100vh;
}
.btn_4{
    position: absolute;
    left: 103vh;
}